@page "/"
@using MyApp.DtoData.BlogDtosData;
@using MyApp.DtoParm.BlogParm.Retrieve;

@inherits OwningComponentBase<IBlogFacade>

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<SfGrid DataSource="@QS" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(Blog.Id) HeaderText="ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Blog.Titol) HeaderText="Titol" TextAlign="TextAlign.Left" Width="400"></GridColumn>
    </GridColumns>
</SfGrid>

<button @onclick=CreaBlog>Crear blog</button>

<button @onclick=CreaBlogAmbTx>Crear blog amb tx</button>

<a href="/page2">Go page 2</a>


@code {
    protected string filter = "";

    List<BlogDtoData>? QS;

    protected override async Task OnInitializedAsync() {
        var pams = new RetrieveBlogParms() { 
            ItemsPerPage = int.MaxValue,
            Page = 0, 
        };

        var response = await Service.Retrieve(pams);
        QS = response.Data!.Items.ToList();
    }

    protected async Task CreaBlog() {

        var parm = new MyApp.DtoParm.BlogParm.Create.CreateBlogParms() {
                Titol = Guid.NewGuid().ToString(),
                WithNposts = 10
            };
        var result = await Service.Create(parm);

        QS!.Add(result.Data!);

        await InvokeAsync(StateHasChanged);
    }

    protected async Task CreaBlogAmbTx() {

        var parm = new MyApp.DtoParm.BlogParm.Create.CreateBlogParms() {
                Titol = Guid.NewGuid().ToString(),
                WithNposts = 10
            };
        var result = await Service.CreateWithTx(parm);

        QS!.Add(result.Data!);

        await InvokeAsync(StateHasChanged);
    }

}
